<!DOCTYPE html>
<html>
<head>
	<title>Pointless Quest</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
	<script src="char.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

    <% results.forEach(function(r) { %>
    <% console.log(r.name) %>
        <body onload="initializeValues(<%= r.name %>, <%= r.hp %>, <%= r.str %>, <%= r.def %>, <%= r.exp %>)">
    <% }); %>
	<br><br>
	
	<!-- -->
	<table>
		<tr>
			<th>Name</th>
			<th>Level</th>
			<th>HP</th>
			<th>STR</th>
			<th>DEF</th>
			<th>EXP</th>
		</tr>
		<tr>
			<td><input type="text" name="playerName" id="playerName" size=15 value="<%= results.rows[0].name %>" readonly></td>
			<td><input type="text" name="playerLevel" id="playerLevel" size=15 value=0 readonly></td>
			<td><input type="text" name="playerHP" id="playerHP" size=15 value=0 readonly></td>
			<td><input type="text" name="playerSTR" id="playerSTR" size=15 value=0 readonly></td>
			<td><input type="text" name="playerDEF" id="playerDEF" size=15 value=0 readonly></td>
			<td><input type="text" name="playerEXP" id="playerEXP" size=15 value=0 readonly></td>
		</tr>
	</table>
	<br>
	<div id="scrollDiv">
		<table id="scrollTable">
			<tr>
				<td>Welcome!</td>
			</tr>
		</table>
	</div>
	<br>
	<div id="enemyDiv">
		<table id="enemyTable">
			<tr>
				<td><input type="button" onclick="attackEnemy('slime')"><input type="text" name="slimeHP" id="slimeHP" size=2 value=0 readonly></td>
				<td>Rabbit goes here.</td>
				<td>Wolf goes here.</td>
			</tr>
			<tr>
				<td>Bear goes here.</td>
				<td>Goblin goes here.</td>
				<td>Orc goes here.</td>
			</tr>
		</table>
	</div>
</body>
</html>