<!DOCTYPE html>
<html>
<head>
	<title>Pointless Quest</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
	<script src="char.js"></script>
	<script type="text/javascript">
	function getStats() {
		var getName = '<%= results[0].name %>';
    	var getHp = <%= results[0].max_hp %>;
    	var getStr = <%= results[0].strength %>;
    	var getDef = <%= results[0].defense %>;
    	var getExp = <%= results[0].exp_points %>;
    	console.log("Assigned stuff: " + getName);
    	//CHANGE BACK LATER
    	initializeValues(getName, getHp, 100, 100, getExp);
	}
	</script>
</head>
<body onload="getStats()">
	<br><br>
	
	<!-- Wrap all of this in a form so I can save with a GET request-->
	<form action="/saveGame" method="get">
	<div>
	<table class="inline">
		<tr>
			<th>Name</th>
			<th>Level</th>
			<th>HP</th>
			<th>STR</th>
			<th>DEF</th>
			<th>EXP</th>
		</tr>
		<tr>
			<td><input type="text" name="playerName" id="playerName" size=15 value="None" readonly></td>
			<td><input type="text" name="playerLevel" id="playerLevel" size=15 value=0 readonly></td>
			<td><input type="text" name="playerHP" id="playerHP" size=15 value=0 readonly></td>
			<td><input type="text" name="playerSTR" id="playerSTR" size=15 value=0 readonly></td>
			<td><input type="text" name="playerDEF" id="playerDEF" size=15 value=0 readonly></td>
			<td><input type="text" name="playerEXP" id="playerEXP" size=15 value=0 readonly></td>
		</tr>
	</table>
	<input type="submit" value="Save & Quit" id="saveBtn" class="inline">
	</div>
   
	<br>
	<div id="scrollDiv">
		<table id="scrollTable">
			<tr>
				<td>Welcome!</td>
			</tr>
		</table>
	</div>
	<br>
	<div id="enemyDiv">
		<table id="enemyTable" class="inline">
			<tr>
				<td><button type="button" onclick="attackEnemy('slime')" id="slimeButton"><img src="slime.gif" height="200" width="200"></button><input type="text" name="slimeHP" id="slimeHP" size=2 value=0 readonly></td>
				<td><button type="button" onclick="attackEnemy('rabbit')" id="rabbitButton"><img src="rabbit.jpg" height="200" width="200"></button><input type="text" name="rabbitHP" id="rabbitHP" size=2 value=0 readonly></td>
				<td><button type="button" onclick="attackEnemy('wolf')" id="wolfButton"><img src="wolf.png" height="200" width="200"></button><input type="text" name="wolfHP" id="wolfHP" size=2 value=0 readonly></td>
			</tr>
			<tr>
				<td><button type="button" onclick="attackEnemy('bear')" id="bearButton"><img src="bear.png" height="200" width="200"></button><input type="text" name="bearHP" id="bearHP" size=2 value=0 readonly></td>
				<td><button type="button" onclick="attackEnemy('goblin')" id="goblinButton"><img src="goblin.png" height="200" width="200"></button><input type="text" name="goblinHP" id="goblinHP" size=2 value=0 readonly></td>
				<td><button type="button" onclick="attackEnemy('orc')" id="orcButton"><img src="orc.png" height="200" width="200"></button><input type="text" name="orcHP" id="orcHP" size=2 value=0 readonly></td>
			</tr>
		</table>
		<table class="inline">
			<tr id="dragon_row" style="display: none;">
				<td><button type="button" onclick="attackEnemy('dragon')" id="dragonButton"><img src="dragon.jpg" height="400" width="500"></button><input type="text" name="dragonHP" id="dragonHP" size=2 value=0 readonly></td>
			</tr>
		</table>

	</div>
	</form>
</body>
</html>